[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"
yt-dlp = "*"
"discord.py" = "~=1.7.3"
python-dotenv = "*"
google-api-python-client = "*"
discord = {py = "*"}

[dev-packages]

[requires]
python_version = "3.9"
